*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}
 
header{
    background-color:#b4d0e7;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

nav section{
    display: flex;
    flex-direction:row ;
    
}

nav li{
    list-style:none;
    padding: 1rem;
    color: #606060;
}
nav p{
    padding: 1rem;
}
nav button{
    margin: 0.6rem 1rem 1rem 1rem;
    height: 2rem;
    width: 4rem;
   
}

.logo{
    width: 6.3rem;
    height: 1.5rem;
    margin: 0.8rem 0rem 0rem 1rem;
}

.button-blue{
    background-color:#0061ff ;
    color: white;
    border-radius: 0%;
    border: 0rem;
}

.contenitore-1{
    max-width: 1000px;
    margin: auto;
    
}

#jumbo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1{
    font-size: 3.8rem;
}

#jumbo button{
    height: 2.5rem;
    width: 10rem;
    

}
#jumbo p{
    padding: 2rem 6rem 2rem 0rem;
    
    font-size: 1.3rem;
}

#jumbo div{
    display: flex;
    flex-direction: row;
    width: 40rem;
}


#jumbo img{
    display: flex;
     
    width: 50rem;
     height: 30rem;
     position: absolute;
     left: 60rem;
     top: 16rem ;
     

}

#divisore{
    padding-top: 8rem;
    
}
.fa-arrow-down{
    font-size: 4rem;
    padding-bottom: 2rem;
}

.piani hr{
    color: #e9e9ea;
}

.piani{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #d3d3d4 solid 1px  ;
    margin-right: 4rem;
    width: 17rem;
    font-size: 0.9rem;
    padding-bottom: 4rem;
    
    

}
.piani p{
    text-align: center;
    padding: 0.5rem;
}
.piani h3{
    font-size: 1.8rem;
    padding: 0rem 1rem ;
}
.piani li{
    list-style: none;
    padding: 1rem 0.5rem 0.5rem 1rem;

}

.gray {
    color: gray;
    
    padding-bottom:  4rem;  
    margin-left: 1rem;
}

.contenitore-lista{
    padding-bottom: 2rem;
  
   
   
}

.border{
    border-bottom: solid 1px #d3d3d4;
    
   
}

#bottone-lista{
   margin: 2rem;
   height: 2.5rem;
   width: 18rem;
}
.divisore-lista{
    display: inline-block;
    width: 2rem;
    padding-bottom: 2rem;
    
    
    
   
}
li strong{
    padding-left: 1rem;
}

 
   .piani li a{
    color:#3c3cf1;
    padding-left: 0.3rem;
   }
.piani li{
    display: flex;
    flex-direction: row;
}
.piani li span{
    display: block;
    padding-right: 0.4rem;
}

li h4{
    padding-bottom: 1rem;
}
 .check {
    
    display: inline-block;
    padding:2rem 1rem 2rem 0rem ;
 }
 .tabelle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
 }
 .contenitore-2{
    
    max-width: 900px;
    margin: auto;

 }
 .contenitore-2 h2{
    font-size: 3rem;
    padding-top: 4rem;
 }
 .tabella-2{
     
    border: solid #d3d3d4 1px;
    margin-top: 4rem;
    padding-bottom: 1.5rem;
    
   
 }
 .tabella-2 span{
    border-bottom: solid 1px #d3d3d4;
    display: block;
    padding: 0.5rem;
 }
 .tabella-2 p{
    text-align: center;
 }
 .tabella-2 div{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

 }
 .tabella-2 div button{
    margin: 1rem 1rem 0rem 0rem;
    height: 2.5rem;
    width: 15rem;
 }
 .tabella-2 ul{
    list-style: none;
   
 }
 .tabella-2 li h3{
    
    font-size: 1.5rem;
 }
 .tabella-2 li{
    padding: 0.5rem;
 }

 .partner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .partner img{
    width: 33rem;
    height: 33rem;
    
    padding-top: 4rem;

 }
 .partner div{
   padding: 3rem 0rem 0rem 2rem;
    width: 25rem;
   height: 25rem;
 }
 
 .button-white{
    border-radius: 0%;
    background-color: white;
    border: solid black 1px;
    
 }
 
 .partner button{

    width: 9rem;
    height: 2.5rem;
    margin-top: 1rem;
 }
 .partner h3{
    padding: 5rem 0rem 1rem 0rem;
    font-size: 1.5rem;
 }
 .cards{
    display: flex;
    flex-direction: row;
    padding: 2rem;

 }
 
 .cards span{
    display: inline-block;
    width: 10rem;
    height: 10rem;
    text-align: center;
    padding: 2rem;
    
 }
 
 .cards h3{
    padding-bottom: 1.5rem;
 }

 .clienti h2{
    
    font-size: 2rem;
    padding: 2rem 0rem 2rem 0rem;
    
 }

.contenitore-3{
padding-top: 8rem;
display: flex;
flex-direction: row;

}
 
.green-box{
    height: 200px;
    width: 200px;
    color: white;
    background-color:#a2d39b ;
    border: solid 10px #d1e9cd ;
}

.brown-box{ 
    height: 200px;
    width: 200px;
    color: white;
    background-color:#61082b ;

}
.blue-box{
   
   
    height: 200px;
    width: 200px;
    background-color:#0093ce ;
}
.box{
    display: flex;
    flex-direction: column;
}

.light-red-box{
    height: 200px;
    width: 200px;
    background-color:#ff1c1c ;
}

.red-box{
    height: 200px;
    width: 200px;
    background-color: #d5001f;
}

.dark-blue-box{
    height: 200px;
    width: 200px;
    background-color:#0d2481 ;
}

.gray-box{
    height: 200px;
    width: 200px;
    background-color: #b4d0e7;
}

.yellow-box{
    height: 200px;
    width: 200px;
    background-color: #ffd830;
}

.paragrafo-box{

    padding: 2rem;
    
}
.paragrafo-box h2{
    font-size: 2rem;
    padding-bottom: 1rem;
   
}

  .paragrafo-box span{
    display: inline-block;
    width: 4rem;
    color: #e2e2e4;

}
.paragrafo-box span hr{
    color:#e2e2e4;
}


.paragrafo-box p{
    padding-top: 2rem;
    font-size: 1.2rem;
}


#background{
    background-color:#b4d0e7 ;
   
 
}

#background h2{
    padding: 3rem 0rem 2rem 0rem;
    color: #61072a;

}
#background button{

  border-radius: 0;
  border: 0;
  background-color: #ffffff ;
  color: #24171c;
  height: 2rem;
  width: 10rem;
  margin: 3rem 3rem 3rem 0rem;
}

#background .contenitore-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq{
    padding-bottom: 3rem;
}

.faq h2{
    font-size: 2rem;
    padding-bottom: 2rem;

}

.faq hr{
    color:#c2c2c2 ;
}

.faq p{
    font-size: 1.2rem;
    padding: 1rem 0rem 1rem 0rem;
}
footer{
    background-color: black;
}
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: white;
}

.footer-top ul{
    padding: 3rem;
    list-style: none;
}
.footer-top h3{
    padding-bottom: 1.5rem;
}

.footer-top  li{
    padding: 0.8rem;
}

.footer-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 11rem;
}

.footer-bot span{
    display: inline-block;
    width: 6rem;
    margin-bottom: 3rem;
}
.footer-bot p{
    padding-bottom: 4rem;
    color: #726a55;
}